
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&family=Quattrocento:wght@700&display=swap');

:root {
    --mainColor : #dbbb19;
    --secColor  : #fce77d;
}

html,body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: var(--secColor);
    font-family: 'Montserrat', sans-serif;
}
/* *{
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    background: #fff6ca;
} */

/* Navigation Section */

/* .container{
    background-color: #fce77d;
}

.navbar-brand img{
    background-color: #fce77d;
}

.navbar-collapse{
    background-color: #fce77d;
}

#navbarNavAltMarkup > .navbar-nav{
    background-color: #fce77d;
} */

.navbar-light {
    background-color: var(--secColor) !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (min-width: 992px) {
    .login-btn {
        color: #ffffff !important;
        background-color: #a18e2b;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 20px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        transition: ease-in-out .25s;
    }

    .login-btn:hover {
        background-color: #c9b139;
    }

    .register-btn {
        color: #a18e2b !important;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border: 2px solid #a18e2b;
        border-radius: 20px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-right: 10px;
        transition: ease-in-out .25s;
    }

    .register-btn:hover {
        background-color: #a18e2b;
        color: #ffffff !important;

    }
}

.navbar-toggler {
    border: 0px;
}

.graduate-text{
    position: relative;
    padding: .5rem 1rem;
}

.alumni-text{
    margin: auto;
    text-align: center;
}
/* put h1 in the middle and make it bold */
.alumni-text h1{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Gaegu', cursive;
}

/* put p in the middle, and change colour */
.alumni-text p{
    font-weight: lighter;
    color: grey;
    margin-bottom: 50px;
    font-family: 'Quattrocento', serif;
}

.graduate-text .graduate img{
    width: 100%;
    height: auto;
    padding: 0;
}

.indi-box{
    padding: .5rem 1rem;
}
.indicator {
    /* background: purple; */
    padding-top: 15px;
    text-align:start; 
    font-size: 1.0rem;
    display: inline;
}

.indicator p{
    color: #b2b2b2;
    padding-left: 10px;
}

.indicator p a {
    text-decoration: none;
    color: #b2b2b2;
}

.indicator span a {
    color: black;
}

/* to have search container width 100% */
.search-box {
    /* background: indianred; */
    width: 100%;
    padding: 0px;
    position: relative;
    color: #f5f6fa;
    right: 20px;
}
/* customizing search input*/
/* colour of our input */
.search-box input{
    height: 55px;
    width: 100%;
    padding: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.5s;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); nanti tukar macam mana nak bawah je ada shadow */
}

/* customizing search icon */
.search-box .search-icon{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    background: #2c3e50;
    color: white;
    cursor: pointer;
}

.search-box .autocom-box{
    max-height: 280px;
    overflow-y: auto; /* this will add scrollbars only when necessary */
    opacity: 0;
    pointer-events: none;
}

.search-box.active .autocom-box{
    /* padding-top: 10px; */
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    border-radius: 10px;

    /* if tinggalkan, akan expand */
    position: absolute;
    z-index: 100;
    right: 0;
   
}
.autocom-box li{
    list-style: none;
    box-sizing: border-box;
    background: #ffffff;
    /* width: 100%; */
    /* how to add padding without printing the $li==0 */
    line-height: 60px;
    padding: 0px 20px;
    cursor: pointer;
    display: none;
    transition: all 0.4s;
    /* border-radius: 8px;*/

}

.search-box.active .autocom-box li{
    display: block;
    color: black;
}

.autocom-box li:hover{
    background: #ffeaa7;
}
/* colour word Search.. */
.search-box input::placeholder{
    color: grey;
}

.search-box input:hover{
    background-color: white;
    border-radius: 50px 50px 50px 50px;
}

.search-icon:hover{
    background-color: #c0392b;
    color: whitesmoke;
    transition: all 0.2s;
}

/* FILTER */

.filter-cards{
    padding: .5rem 1rem;
}

.filter {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
    
.select-box {
    margin: 10px;
    position: relative;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.batch {
    width: 100%;
    background: white;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;
}

#search-batch {
    background: white;
    border: none;
    background: none;
    outline: none;
    margin-top: 0;
    padding: 12px 24px;
    color: black;
    font-size: 16px;
}

.batch .autocom-box{
    max-height: 280px;
    overflow-y: auto; /* this will add scrollbars only when necessary */
    opacity: 0;
    pointer-events: none;
}

.batch.active .autocom-box{
    /* padding-top: 10px; */
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    border-radius: 10px;

    /* if tinggalkan, akan expand */
    position: absolute;
    z-index: 100;
    right: 0;
   
}

.autocom-box li{
    list-style: none;
    box-sizing: border-box;
    background: #ffffff;
    font-size: 1.5rem;
    /* width: 100%; */
    /* how to add padding without printing the $li==0 */
    line-height: 60px;
    padding: 0px 20px;
    cursor: pointer;
    display: none;
    transition: all 0.4s;
    /* border-radius: 8px;*/

}

.batch.active .autocom-box li{
    display: block;
    color: black;
}

.autocom-box li:hover{
    background: #ffeaa7;
}


/* faculty and major */
.custom-select {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;

    padding: 8px 12px;
    cursor: pointer;

    /* replace the default styling(arrow) */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/images/arrow-down.svg');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 25px;
}

.custom-select:focus,
.custom-select:hover {
    outline: none;
    border: 1px solid grey;
}


.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    /* If the content is larger than the maximum height, it will overflow. */
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
    /* with the code below, it will not add space to fit options display */
    /* position: absolute;
    z-index: 100; */
}

/* .selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;
} */

/* add arrow */
.selected::after {
    content: "";
    background: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
    background: #2f3640;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    background: transparent;
    color: #f5f6fa;
    cursor: pointer;
    font-size: 2vw;
}

.select-box .option .radio {
    display: none;
}

/* Searchbox */

.fsearch-box input {
    background: white;
    width: 100%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #2f3640;

    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.fsearch-box input:focus {
    outline: none;
}

.select-box .options-container.active ~ .fsearch-box input {
    opacity: 1;
    pointer-events: auto;
}

.card {
    margin: 15px;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    background: white;
}

.card img{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card .desc{
    background: white;
    text-align: center;
    line-height: 1.0;
}

.card .desc p{
    background: transparent;
}

.card .socmed{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
    background: transparent;
}

.card .socmed a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-linkedin-square{
    color: #0e76a8;
}

.button{
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 14px 0px;
    align-items: center;
    justify-items: center;
}

.btn {
    border-radius: 50px;
    font-size: inherit;
    color: white;
    background: #2f3640;
}

.btn:hover {
    color: black;
    background: #f8c291;
    border: transparent;
}

/* Footer Section */

/* .item{
    background-color: var(--secColor);
} */

.footer-link-section {
    padding: 30px 0px;
    /* background-color: var(--secColor); */
}

.footer-link-section ul {
    -webkit-padding-start: 0;/*remove indent*/
    padding-left: 5px;
    /* background-color: var(--secColor); */
}

.footer-link-section h3 {
    color: #000000;
    border-bottom: #000000 solid 3px;
    padding-bottom: 2.5px;
    margin-bottom: 15px;
    /* background-color: var(--secColor); */
}

.footer-link-section li {
    list-style: none;
    /* background-color: var(--secColor); */
}

.footer-link-section li a {
    color: #6b5b0d;
    text-decoration: none;
    transition: 500ms ease;
}

.footer-link-section li a:hover {
    padding-left: 5px;
}

.footer-logo {
    padding: 10px 20px 20px 20px;
    background-color: none;
}

/* .py-4{
    background-color: var(--secColor);
}

.py-4 .container{
    background-color: var(--secColor);
}

.py-4 p{
    background-color: var(--secColor);
} */

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
}
  
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}