
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&family=Quattrocento:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

:root {
    --mainColor : #dbbb19;
    --secColor  : #fce77d;
}

html,body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    /* background-color: #fff6ca; */
    background-color: #F9EFBA;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light {
    background-color: var(--secColor) !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (min-width: 992px) {
    .login-btn {
        color: #ffffff !important;
        background-color: #a18e2b;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 20px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        transition: ease-in-out .25s;
    }

    .login-btn:hover {
        background-color: #c9b139;
    }

    .register-btn {
        color: #a18e2b !important;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border: 2px solid #a18e2b;
        border-radius: 20px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-right: 10px;
        transition: ease-in-out .25s;
    }

    .register-btn:hover {
        background-color: #a18e2b;
        color: #ffffff !important;

    }
}

.navbar-toggler {
    border: 0px;
}

.graduate-text{
    position: relative;
    padding: .5rem 1rem;
}

.alumni-text{
    margin: auto;
    text-align: center;
}
/* put h1 in the middle and make it bold */
.alumni-text h1{
    font-size: 80px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

/* put p in the middle, and change colour */
.alumni-text p{
    font-weight: lighter;
    color: grey;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.graduate-text .graduate img{
    width: 100%;
    height: auto;
    padding: 0;
}

/* for search box */
/* to have search container width 100% */
.search-box {
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 50px 50px 50px 50px;
}

/* customizing search input*/
/* colour of our input */
.search-box input{
    height: 55px;
    width: 100%;
    padding: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.5s;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); nanti tukar macam mana nak bawah je ada shadow */
}

/* customizing search icon */
.search-box .search-icon{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    background: #2c3e50;
    color: white;
    cursor: pointer;
}

.search-box .autocom-box{
    max-height: 280px;
    overflow-y: auto; /* this will add scrollbars only when necessary */
    opacity: 0;
    pointer-events: none;
}

.search-box.active .autocom-box{
    /* padding-top: 10px; */
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    border-radius: 10px;

    /* if tinggalkan, akan expand */
    position: absolute;
    z-index: 100;
    right: 0;
   
}
.autocom-box li{
    list-style: none;
    box-sizing: border-box;
    background: #ffffff;
    /* width: 100%; */
    line-height: 60px;
    padding: 0px 20px;
    cursor: pointer;
    display: none;
    transition: all 0.4s;
    /* border-radius: 8px;*/

}

.search-box.active .autocom-box li{
    display: block;
    color: black;
}

.autocom-box li:hover{
    background: #ffeaa7;
}

/* colour word Search.. */
.search-box input::placeholder{
    color: grey;
}

.search-icon:hover{
    background-color: #c0392b;
    color: whitesmoke;
    transition: all 0.2s;
}

/* FOR INDICATOR */

.indi-box{
    padding: .5rem 2rem;
}

.indicator {
    padding-top: 15px;
    text-align:start; 
    font-size: 1.0rem;
    display: inline;
}

.indicator p{
    color: #b2b2b2;
    padding-left: 10px;
}

.indicator p a {
    text-decoration: none;
    color: #b2b2b2;
}

.indicator span a {
    color: black;
}


/* FILTER FUNCTION */

.filter {
    position: relative;
    padding: .5rem 2rem;
    left: 10px;
} 

/* FOR BATCH */
.batch {
    background: white;
    border-radius: 8px;
    color: #f5f6fa;
}

#search-batch {
    height: 100%;
    width: 100%;
    background: white;
    border: none;
    background: none;
    outline: none;

    padding: 12px 24px;
    color: black;
    font-size: 16px;
}

.batch:focus,
.batch:hover {
    outline: none;
    border: 2px solid grey;
}

/* FOR FACULTY AND MAJOR */

.custom-select {
    height: 100%;
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;

    order: 0;

    padding: 12px 24px;
    cursor: pointer;

    /* replace the default styling(arrow) */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/images/arrow-down.svg');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 25px;
}

.custom-select:focus,
.custom-select:hover {
    outline: none;
    border: 2px solid grey;
}

/* FOR ALUMNI PROFILE CARDS */

.cards {
    padding: .5rem 2rem;
}

.card {
    border-radius: 10px;
    background: white;
}

.card img{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card .desc{
    background: white;
    text-align: center;
    line-height: 1.0;
}

.card .desc p{
    background: transparent;
}

.card .socmed{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
    background: transparent;
}

.card .socmed a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-linkedin-square{
    color: #0e76a8;
}

.button{
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 14px 0px;
    align-items: center;
    justify-items: center;
}

.btn {
    border-radius: 50px;
    border: none;
    font-size: inherit;
    color: black;
    background: #FBCB3B;
}

.button a{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.btn:hover {
    color: black;
    background: #f8c291;
    border: transparent;
}

/* MEDIA QUERIES FOR CARD SECTION */

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
}
  
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

/* FOOTER SECTION */

#footer {
    margin-top: 20px;
    background-color: var(--secColor);
} 

.footer-link-section {
    padding: 30px 0px;
}

.footer-link-section ul {
    -webkit-padding-start: 0;
    padding-left: 5px;
}

.footer-link-section h3 {
    color: #000000;
    border-bottom: #000000 solid 3px;
    padding-bottom: 2.5px;
    margin-bottom: 15px;
}

.footer-link-section li {
    list-style: none;
}

.footer-link-section li a {
    color: #6b5b0d;
    text-decoration: none;
    transition: 500ms ease;
}

.footer-link-section li a:hover {
    padding-left: 5px;
}

.footer-logo {
    padding: 10px 20px 20px 20px;
    background-color: none;
}
