@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --primary-color : #dbbb19;
    --primary-color-pair : #E9CD3E;
    --secondary-color  : #eadec7;
    --heading-text-color :#a18247;
    /* --primary-color : #854fee;
    --secondary-color  : #4458dc; */
    --light-color : #fff6ca;
    --section-bg-color : #eadec7;
    --bg-color:#f5f5f5;
    --section-bg-img : url(../images/school.png);

    /* Font Family Variables */
    --montserrat : 'Montserrat', sans-serif;
    --poppins : 'Poppins', sans-serif;
    --inter : "Inter", sans-serif;
}

html,
body {
    height: 100%;
    
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

/* Start Header */

.navbar-light {
    background-color: #ffffff !important;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    border-bottom: 1px solid #f5f5f5;
}

.nav-link {
    font-family: var(--montserrat);
    margin-right: 10px;
    transition: .5s;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

@media (min-width: 992px) {

    .normal-link {
        font-family: var(--montserrat);
        margin-right: 10px;
        transition: .5s;
    }

    .normal-link::after {
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        margin: auto;
        background: var(--primary-color);
        transition: .5s;
    }

    .normal-link:hover::after {
        width: 100%;
    }
    
    .nav-link:hover {
        color: var(--primary-color) !important;
    }

    .register-btn {
        color: #ffffff !important;
        background-color: var(--primary-color);
        border-radius: 25px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .register-btn:hover {
        color: #000000 !important;    
    }
}

.navbar-toggler {
    border: 0px;
}

.profile-picture {
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 50%;
}

#control-lg {
    display: none;
}

@media screen and (max-width: 992px) {
    #control-lg {
        display: flex;
    }

    #control {
        display: none;
    }
}

/* End Header */
main {
    background-color: var(--section-bg-color);
    padding-top: 20px;
    padding-bottom: 50px;
}



.footer-link-section {
    padding: 30px 0px;
    background-color: var(--primary-color-pair);
}

.footer-link-section ul {
    -webkit-padding-start: 0;/*remove indent*/
    padding-left: 5px;
}

.footer-link-section h3 {
    color: var(--light-color);
    border-bottom: var(--light-color) solid 3px;
    padding-bottom: 2.5px;
    margin-bottom: 15px;
}

.footer-link-section li {
    list-style: none;
}

.footer-link-section li a {
    color: var(--light-color);
    text-decoration: none;
    transition: 500ms ease;
}

.footer-link-section li a:hover {
    padding-left: 5px;
}

.copyright {
    background-color: var(--primary-color);
    color: var(--light-color);
}



.panel {
    border-radius: 4px;
    

}
 
.panel-heading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.panel-body {
    
    font-family:'Montserrat', sans-serif;
    background: #f1f1f1;
    border: 0px;
    padding: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    
    border-radius: 0px;
    width: 100%;
   
    
    
}

.center {
    text-align:center;
}



.cancel-btn {
    border-color:black;
    color:black;
    border-radius: 2px;
    margin-left: 20px;
    
}



