@import url(../styles/variables.css);

.title-heading { 
    padding: 30px 0;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: var(--primary-color);
	text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    letter-spacing: 2px;
    font-family: var(--montserrat);
}

main {
    background-color: white ;
}

.table {
    padding: 10px;
}

.add-job {
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.data-table {
    background-color:white;
    text-align: center;
    color:black;
    border-width: 4px;
    border-left-color:#dbbb19;
    border-radius: 5px 5px 0 0;
}