@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(./variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eadec7;
    background-image: url(../images/school-pattern-bg.png);
    background-position: center center;
}

a {
    transition: .5s ease;
    color: var(--heading-text-color);
}

a:hover {
    transition: .5s ease;
    text-decoration: none;
    color: #888;
}

h1, h4, label {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 576px) {
    .container {
        padding: 0;
        margin: 0;
    }

    .my-4 {
        margin: 0 !important;
    }

    .mx-5 {
        margin: 0 !important;
    }
}

.form-body {
    background-color: #ffffff;
    min-height: calc(100vh - 64px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    background-color: #f5f5f5;
}

/* .form-group {
    max-width: 350px;
} */

.input-group-text {
    min-width: 50px;
}

.input-box {
    height: 50px;
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-box input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #212529;
    width: 85%;
}

.input-box input::placeholder {
    color: #6c757d;
    opacity: 1;
}

.eye {
    cursor: pointer;
}

#show {
    display: none;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    /* max-width: 350px; */
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold;
    transition:ease .2s;
} 

.btn1:hover {
    background-color: #ffffff;
    color: #000000;
    outline: 1px;
    border: #000000 1px solid;
}

.red-alert {
    color: red !important;
}

.red-border {
    border: 1px solid rgb(255, 89, 89);
    transition: .3s ease;
}

.red-border:focus {
    box-shadow: 0 0 0 0;
    border: 2px solid rgb(255, 89, 89);
    transition: .3s ease;
}

#passwordHelpBlock {
    position: absolute;
    margin-top: -15px;
    padding-left: 5px;
}

#passwordCheckBlock {
    position: absolute;
    margin-top: -15px;
    padding-left: 5px;
}