* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbbb19;
}

.row {
    background-color: #ffffff;
    min-height: calc(100vh - 64px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: #f5f7fa;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold;
    transition:ease .5s;
} 

.btn1:hover {
    background-color: #ffffff;
    color: #000000;
    outline: 1px;
    border: #000000 1px solid;
}