@import url(../styles/variables.css);

.container {

    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* End Framework */

/* Start main features*/

body {
    padding: 0;
    margin: 0;
}

.card h3 {
    color: #889eab;
    font-family: 'Montserrat', sans-serif;
}


.card p {
    line-height: 2;
    color: #4c5e68;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a :hover{
    color: #5f76db;
}

a:link{
    text-decoration: none;
}


/* End main features*/

/* Year */

#heading {
    margin-bottom: 50px;
    background-color: var(--primary-color);
    background-image: url('../images/News.jpg');
    background-position: center bottom;
    text-align: center;
    padding: 100px 100px;
    width: 100%;
    font-family: var(--montserrat);
    font-size: 50px;
    color: #ffffff;
}

.Year {
    margin-bottom: 70px;
    font-family: "Poppins", sans-serif;
    border-color: #e6e6e6;
    vertical-align: middle;
}




/* Start News */
.News {
    margin-bottom: 70px;
}

.News .n {
    padding: 10px;
}

.News .card {
    background-color: white;
}

.News .card img {
    max-width: 100%;
    height: auto;
}


.News .card .info {
    padding: 20px;
}

.News .card .info h3 {
    margin: 0;

}

.News .card .info p {
    line-height: 1.6;
    margin-bottom: 0;
}

/* End News */
