.error_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65.91px - 304.5px - 25px); /* vh, header height, footer height + top margin, magic number */
}

.error_container p {
    text-align: center;
    padding: 30px;
}