@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


:root {
    --mainColor : #dbbb19;
    --secColor  : #fce77d;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f1f1f1;
}

main {
    background: #ffffff;
}

a:hover {
    text-decoration: none;
}

/* Navigation Section */

.navbar-light {
    background-color: var(--secColor) !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (min-width: 992px) {
    .login-btn {
        color: #ffffff !important;
        background-color: #a18e2b;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 20px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        transition: ease-in-out .25s;
    }

    .login-btn:hover {
        background-color: #c9b139;
    }

    .register-btn {
        color: #a18e2b !important;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border: 2px solid #a18e2b;
        border-radius: 20px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-right: 10px;
        transition: ease-in-out .25s;
    }

    .register-btn:hover {
        background-color: #a18e2b;
        color: #ffffff !important;

    }
}

.navbar-toggler {
    border: 0px;
}

/* Main Section */

.landing-page {
    min-height: calc(100vh - 64.91px);
    background-position: center;
    padding: 50px 0px;
    background-color: #fff6ca;
    background-image: url(../images/wave.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    .landing-page {
        padding-top: 100px;
    }
}

.landing-page h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    color: #000000;
}

.landing-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin: 30px 0px;
    color: #998108;
}

.landing-img {
    width: 100%;
}

.landing-btn {
    background-color: #dbbb19;
    font-size: 20px;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 30px;
}

.landing-btn:hover {
    color: #000000;
}

.about-us {
    background-color: var(--mainColor);
    padding: 50px 0px;
}

.about-us h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.upcoming-events {
    background-color: var(--mainColor);
    padding: 50px 0px;
}

.upcoming-events h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .event-card {
        margin-bottom: 20px;
    }
}

.event-card {
    transition: .5s;
}

.event-card:hover {
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.event-img {
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.event-title {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.event-text {
    font-size: 17px;
    letter-spacing: .1rem;
    line-height: 1.7;
    color: darken(#404040, 1%);
    margin-bottom: 2.5rem;
}

.event-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    color:  #3363ff;
    background-color: #e6ecff;
    border: none;
    border-radius: .4rem;
    transition: .2s;
    cursor: pointer;
}

.event-btn:hover {
    background-color: darken( #e6ecff, 2%)
}

.event-btn span {
    margin-left: 12px;
}

.jobs-listing {
    background-color: var(--mainColor);
    padding: 50px 0px;
}



/* Footer Section */

.footer-link-section {
    padding: 30px 0px;
    background-color: var(--secColor);
}

.footer-link-section ul {
    -webkit-padding-start: 0;/*remove indent*/
    padding-left: 5px;
}

.footer-link-section h3 {
    color: #000000;
    border-bottom: #000000 solid 3px;
    padding-bottom: 2.5px;
    margin-bottom: 15px;
}

.footer-link-section li {
    list-style: none;
}

.footer-link-section li a {
    color: #6b5b0d;
    text-decoration: none;
    transition: 500ms ease;
}

.footer-link-section li a:hover {
    padding-left: 5px;
}

.footer-logo {
    padding: 10px 20px 20px 20px;
    background-color: none;
}