@import url('./variables.css');

html,
body {
    height: 100%;
    background: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

/* Scroll To Top Button Start */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 0px; /* Place the button at the bottom of the page */
    right: 0px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
    text-align: center;
    font-size: 2.5rem; 
    color: cornflowerblue;
}

#myBtn:hover {
    color: rgb(55, 100, 182);
}

/* Scroll To Top Button End */

/* Start Header */

.navbar-light {
    background-color: #ffffff !important;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    border-bottom: 1px solid #f5f5f5;
}

.nav-link {
    font-family: var(--montserrat);
    margin-right: 10px;
    transition: .5s;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

@media (min-width: 992px) {

    .normal-link {
        font-family: var(--montserrat);
        margin-right: 10px;
        transition: .5s;
    }

    .normal-link::after {
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        margin: auto;
        background: var(--primary-color);
        transition: .5s;
    }

    .normal-link:hover::after {
        width: 100%;
    }
    
    .nav-link:hover {
        color: var(--primary-color) !important;
    }

    .register-btn {
        color: #ffffff !important;
        background-color: var(--primary-color);
        border-radius: 25px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .register-btn:hover {
        color: #000000 !important;    
    }
}

.navbar-toggler {
    border: 0px;
}

.profile-picture {
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 50%;
}

#control-lg {
    display: none;
}

@media screen and (max-width: 992px) {
    #control-lg {
        display: flex;
    }

    #control {
        display: none;
    }
}

/* End Header */

/* Start Main */


.landing-page {
    min-height: calc(100vh - 64.91px);
    padding: 50px 0px;
    background-color: #fff6ca;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/landing.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* background image doesn;t overlap with button */
@media (min-width: 993px) and (max-height: 683px){

}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.landing-page h1 {
    font-family: var(--poppins);
    font-weight: bold;
    font-size: 62px;
    text-align: center;
    color: #f5f5f5;
}

.landing-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 10px 0 40px;
    color: #ffffff;
    text-align: center;
}

.landing-desc strong {
    word-spacing: 7px;
}

@media screen and (max-width: 576px) {
    .landing-page h1 {
        font-size: 30px;
    }
    

    .landing-desc {
        font-size: 12px;
    }

    .landing-desc strong {
        word-spacing: 3px;
    }
}

.landing-desc .highlight {
    color: var(--primary-color);
}

.landing-btn-2 {
    background-color: transparent;
    color: #ffffff;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    padding: .8rem 5rem;
    font: normal 500 16px/20px var(--montserrat);
    border-radius: 4px;
    transition: 0.2s;
    border: none;
    border: 2px solid #ffffff;
}

.landing-btn-2:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* About Us Section Start */
.about-us {
    padding: 50px 0px;
}

.about-us .about-us-img {
    background-color: var(--section-bg-color);
    padding: 10%;
    margin: auto;
    max-width: 80%;
}

@media screen and (max-width: 992px) {
    .about-us .about-us-img {
        max-width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}

.about-us h2 {
    font-family: var(--montserrat);;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

.about-us p {
    font-family: var(--poppins);
    font-size: 17px;
    font-weight: 300;
    line-height: 2;
    padding: 10px;
    color: #777777;
}

.about-us .function-col {
    flex-basis: 31%;
    background: var(--section-bg-color);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5px 12px;
    box-sizing: border-box;
    margin: 3%;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.about-us .function-col h3 {
    color: var(--heading-text-color);
    font-size: 20px;
    margin: 10px 0;
}

/* tooltips */

.function-col .tooltiptext {
    visibility: hidden;
    width: 45%;
    background-color: var(--heading-text-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: .2s;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.function-col:hover .tooltiptext {
    visibility: visible;
    width: 90%;
}

/* About Us Section End */


/* Upcoming Events Section Start */
.upcoming-events {
    background-color: var(--section-bg-color);
    background-image: var(--section-bg-img);
    box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC; 
    padding: 50px 0px;
}

.upcoming-events h2 {
    font-family: var(--montserrat);;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: var(--heading-text-color);
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .event-card {
        margin-bottom: 20px;
    }
}

.event-card {
    transition: .5s;
}

.event-card:hover {
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.event-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event-title {
    font-family: var(--inter);
    font-size: 20px;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.event-text {
    font-size: 17px;
    letter-spacing: .1rem;
    line-height: 1.7;
    color: darken(#404040, 1%);
    margin-bottom: 2.5rem;
}

.event-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    color:  #3363ff;
    background-color: #e6ecff;
    border: none;
    border-radius: .4rem;
    transition: .2s;
    cursor: pointer;
}

.event-btn:hover {
    background-color: darken( #e6ecff, 2%);
    text-decoration: none;
}

.event-btn span {
    margin-left: 12px;
}

.more-container {
    padding: 2.5em;
    display: flex;
    justify-content: center;
}

.view-more {
    border-radius: 4px;
    background-color:var(--primary-color);
    background-image: linear-gradient(90deg, var(--primary-color), #dba719);
    border: none;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    color: #FFFFFF;
    text-align: center;
    font: normal 500 16px/20px var(--montserrat);
    padding: .8rem 2.2rem;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
}

.view-more span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.view-more span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.view-more:hover span {
    padding-right: 25px;
}

.view-more:hover span:after {
    opacity: 1;
    right: 0;
}

/* Upcoming Events Section Start */

/* Start Job Section */

.jobs-listing {
    padding: 50px 0px;
}

/* ==Owl Carousel Start */

.job-wrapper{
    width: 100%;
/*     background-color: #e7e7e7; */
    padding-bottom: 15px;
    border-radius: 5px;
}

.job-carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.job-carousel .job-card{
    font-family: var(--poppins);
    color: var(--heading-text-color);
    min-height: 200px;
    margin: 20px 0;
    border-radius: 5px;
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--section-bg-color);
}

.job-carousel .job-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.job-carousel .job-card .company {
    margin-bottom: 0.5rem;
    font-weight: 1000;
}

.job-carousel .job-card .position {
    font-family: var(--poppins);
    color: #777;
    font-size: 20px;
}

.job-carousel .job-card .details {
    font-family: var(--poppins);
    font-size: 17px;
}

.owl-dots{
    text-align: center;
    margin-top: 0px;
}

.owl-dot{
    height: 15px;
    width: 15px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    transition: all 0.3s ease;
    background-color: #ffffff !important;
}

.owl-dot.active,
.owl-dot:hover{
    background: var(--primary-color)!important;
}
/* ==Owl Carousel End */



.job-card {
    min-width: 290px;
    margin-bottom: 20px !important;
}

.side-view-more {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.side-view-more a:hover {
    text-decoration: none;
}

.job-title {
    font-size: 15px;
    font-family: var(--poppins);
    color: #969696;
}

/* End Job Section */

/* End Main */

/* Start Footer */

.footer-link-section {
    padding: 30px 0px;
    background-color: var(--primary-color-pair);
}

.footer-link-section ul {
    -webkit-padding-start: 0;/*remove indent*/
    padding-left: 5px;
}

.footer-link-section h3 {
    color: var(--light-color);
    border-bottom: var(--light-color) solid 3px;
    padding-bottom: 2.5px;
    margin-bottom: 15px;
}

.footer-link-section li {
    list-style: none;
}

.footer-link-section li a {
    color: var(--light-color);
    text-decoration: none;
    transition: 500ms ease;
}

.footer-link-section li a:hover {
    padding-left: 5px;
}

.copyright {
    background-color: var(--primary-color);
    color: var(--light-color);
}

/* End Footer */


/* Modal content */

/* .modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.modal_content .image_details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: space-around;
}
.modal_content img{
    width: 220px;
    height: 220px;
}
.modal_content .details{
    margin-left: 20px;
    height: 100%;
    padding: 10px;
    overflow-x: hidden;
    flex-grow: 3;
    min-height: 220px;
}

.modal_content .event_content {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}

/* Page Heading */

#page_heading {
    height: 250px;
    background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url("../images/job-bg.jpg");
    background-size: cover;
    background-position: center 580px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page_heading h1{
    font-family: var(--montserrat);
/*     padding-top: 170px; */
    font-size: 70px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0,0,0,0.5);
    text-align: center;
}

.search-box {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: #fff;
}

.search-button:hover {
    color: #000;
    background-color: var(--primary-color);
}


/* Jobs page */

.job-card{
    font-family: var(--poppins);
    color: var(--heading-text-color);
    min-height: 200px;
    margin: 20px 0;
    border-radius: 5px;
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--section-bg-color);
}

.job-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.job-card .company {
    margin-bottom: 0.5rem;
    font-weight: 1000;
}

.job-card .position {
    font-family: var(--poppins);
    color: #777;
    font-size: 20px;
}

.job-card .details {
    font-family: var(--poppins);
    font-size: 17px;
}