@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
    height: 100%;
}

body {
    background: #f1f1f1;
}

main {
    background: #ffffff;
    padding: 2em;
}

footer {
    margin-top: 3em;    
}

.footer-link-section {
    padding: 30px 0px;
    background-color: #dfdfdf;
}

.footer-link-section li {
    list-style: none;
}

.footer-link-section li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-link-section li a:hover {
    color: #000000;
    transition: 500ms ease;
}

.about-us {
    background: #f3f3f3;
    padding: 20px 0px;
}

.about-us h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #000000;
}