@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* CSS Variables */

:root {
    --primary-color : #dbbb19;
    --primary-color-pair : #E9CD3E;
    --secondary-color  : #eadec7;
    --heading-text-color :#a18247;
    --light-color : #fff6ca;
    --section-bg-color : #eadec7;
    --bg-color:#f5f5f5;
    --section-bg-img : url(../images/school-pattern-bg.png);

    /* Font Family Variables */
    --montserrat : 'Montserrat', sans-serif;
    --poppins : 'Poppins', sans-serif;
    --inter : "Inter", sans-serif;
}